%ul.small-block-grid-4
 -@projects.each do |p|
  %li.project
   %h4
    =p.title
   .project_image
    -if !p.pictures.first.nil?
     =image_tag p.pictures.first.image_url
   .project_description
    =truncate(p.description, :length => 150, :omission => "...")