.project
 .project_title
  %h4
   =@project.title
   -if !@project.videos.first.nil?
    -@project.videos.each do |v|
     .flex-video
      %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "https://www.youtube.com/watch?v=eQV2okl3pjY", :title => @project.title, :width => "800", :height => "600"}
 .project_description
  %p
   =@project.description.bbcode_to_html.gsub("\n", "<br>").html_safe
 .project_image
  -if !@project.pictures.first.nil?
   %ul.small-block-grid-2
    -@project.pictures.each do |p|
     %li.project_image
      =image_tag p.image_url
