// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.project
  background-color: #f0e4e7
  .project_description
    font-family: "Courier New"
    background-color: #ffd9bf

.container
  background-color: #ECF4FB
  padding: 20px

//edit
.project_title
  background-color: #f0fffc
  font-family: "Courier New"
  font-size: 5em
  label
    font-size: 25px
  input
    font-size: 15px

.project_description
  font-family: "Courier New"
  background-color: #ffd9bf
  width:  100%
  textarea
    height: 200px
    font-size:  15px
  label
    font-size: 25px



