// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.row
  padding: 50px
  background-color: rgba(244, 244, 244, 0.42)

.project
  .project_description
    font-family: "Courier New"
      //background-color: #ffd9bf

section
  background-color: #f4f4f4
  padding-right: 50px
  padding-left: 50px
  padding-top: 25px
  background-image: url("http://1.bp.blogspot.com/-_4s19opJwyA/UdwHCfbccBI/AAAAAAAABI8/r_RH2yFzL7k/s1600/20130620_152746.jpg")
  background-attachment: fixed

//edit
.project_title
  font-family: "Courier New"
  font-size: 5em
  label
    font-size: 25px
  input
    font-size: 15px

.project_description
  background-image: linear-gradient(to top, rgb(255, 217, 191), rgb(244, 244, 244))
  font-family: "Courier New"
  //background-color: #ffd9bf
  width:  100%
  font-size: 12px
  textarea
    height: 200px
    font-size:  15px
  label
    font-size: 25px



